---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Barbero Andres Nuñez" description="" />
<div class="flex items-center">
  <img
    class="rounded-full size-24 m-10 hover:scale-110 duration-150"
    src="/images/barbers/1.jpeg"
    alt="Andres Nuñez"
  />
  <h1 class="text-2xl font-semibold md:opacity-100 font-['Onest_Variable']">
    Andres Nuñez
  </h1>
</div>

<div class="container">
  <div class="slider-wrapper">
    <div class="slider">
      <img
        src="https://i.pinimg.com/564x/e8/56/c4/e856c4ff3a9063b5e44473e370ff2e81.jpg"
        alt=""
        id="slide-1"
      />
      <img
        src="https://i.pinimg.com/564x/7d/fb/08/7dfb08b3b99a358e122c83e48bc782dd.jpg"
        alt=""
        id="slide-2"
      />
      <img
        src="https://i.pinimg.com/564x/26/d9/63/26d9635c26df9ff5909619f14233692c.jpg"
        alt=""
        id="slide-3"
      />
    </div>
  </div>
</div>
<div class="slider-nav">
  <a href="#slide-1"></a>
  <a href="#slide-2"></a>
  <a href="#slide-3"></a>
</div>
<style>
  .container {
    padding: 2rem;
  }
  .slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
  }
  .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: aliceblue;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
  .slider-nav a:hover {
    opacity: 1;
  }
</style>
