---
import "../styles/fonts.css";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ImageMain from "../components/ImageMain.astro";
import Services from "../components/Services.astro";
import Reverce from "../components/Reverce.astro";
import Maps from "../components/Maps.astro";
import CardService from "../components/CardService.astro";
---

<Layout title="BarberShop" />
<main>
  <section class="">
    <ImageMain />
  </section>

  <section class="h-full text-black">
    <Services />
  </section>

  <section
    class="flex flex-col justify-center md:flex md:flex-row items-center md:justify-center md:space-x-36 space-y-0"
  >
    <Reverce />
    <Maps />
  </section>

  <Footer />
</main>
