---
import "../styles/fonts.css";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ImageMain from "../components/ImageMain.astro";
import Services from "../components/Services.astro";
import Reverce from "../components/Reverce.astro";
import CardService from "../components/CardService.astro";
---

<Layout title="BarberShop" />
<main>
  <section class="">
    <ImageMain />
  </section>

  <section class="h-full text-black">
    <Services />
  </section>

  <section>
    <Reverce />
  </section>

  <Footer />
</main>
