---
import Schedules from "../components/Schedules.astro";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
import WhatsappButtom from "../components/WhatsappButtom.astro";
---

<Layout title="Pruebas" />
<main>
  <section class="relative">
    <Schedules />
    <About />
    <WhatsappButtom />
  </section>
</main>
