---
import Schedules from "./Schedules.astro";
---

<div class="flex flex-col justify-center items-center m-5">
  <div class="flex flex-row items-center justify-center">
    <h2 class="my-5 text-2xl font-bold md:text-3xl">¿Quienes Somos?</h2>
  </div>
  <p class="m-5 md:text-xl text-pretty text-center md:w-[450px]">
    BarberShop es la barbería imprescindible para el hombre moderno de hoy.
    Ofrecemos todos los servicios de barbería tradicionales en San Jorge, Yumbo,
    incluidos cortes de cabello para hombres exclusivos, afeitados con navaja y
    lujosos masajes en el cuero cabelludo.
  </p>
  <Schedules />
  <div class="flex flex-col md:flex-row md:items-center"></div>
</div>
