---
import Maps from "./Maps.astro";
import Schedules from "./Schedules.astro";
---

<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row items-center justify-center">
    <h2 class="my-5 text-3xl font-['Onest_Variable'] font-semibold md:text-4xl">
      ¿Quienes Somos?
    </h2>
  </div>
  <p class="m-5 text-xl text-pretty text-center md:w-[850px]">
    ¡Bienvenido a Barbería Pariaz sede Aranjuez la 92! Aquí no solo obtendrás el
    mejor corte de cabello, sino también asesoría para encontrar tu estilo
    ideal. Contamos con productos de calidad, herramientas excelentes, un
    espacio agradable y profesionales preparados tanto personal como
    profesionalmente. ¡Visítanos y vive la experiencia Pariaz!
  </p>
  <div class="flex flex-col md:flex-row md:items-center">
    <Maps class="m-5" />
    <Schedules />
  </div>
</div>
