---
import Maps from "./Maps.astro";
import Schedules from "./Schedules.astro";
---

<div class="flex flex-col justify-center items-center">
  <h2 class="m-5 text-4xl font-['Onest_Variable'] font-medium">
    ¿Quienes Somos?
  </h2>
  <p class="m-5 text-xl text-pretty text-center">
    ¡Bienvenido a Barbería Pariaz sede Aranjuez la 92! Aquí no solo obtendrás el
    mejor corte de cabello, sino también asesoría para encontrar tu estilo
    ideal. Contamos con productos de calidad, herramientas excelentes, un
    espacio agradable y profesionales preparados tanto personal como
    profesionalmente. ¡Visítanos y vive la experiencia Pariaz!
  </p>
  <div class="flex flex-col md:flex-row md:items-center">
    <Maps class="m-5" />
    <Schedules />
  </div>
</div>
