---
import WhatsappIcon from "./icons/WhatsappIcon.astro";
---

<a
  href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
  class="flex cursor-pointer w-[150px] h-[50px] shadow-2xl px-1 bg-green-500 text-white justify-center items-center rounded-full py-2.5 hover:opacity-60 duration-500 text-lg"
>
  <WhatsappIcon />
  Whatsapp
</a>
