<div class="flex flex-col text-center justify-center m-5">
  <div class="">
    <h1 class="text-center font-bold text-2xl md:text-3xl m-5">
      ¡Agenda tu cita ya!
    </h1>
  </div>
  <p class="m-5 md:text-xl text-center text-pretty">
    ¡No pierdas la oportunidad! Reserva tu lugar en nuestro calendario haciendo
    clic aquí y ahora. ¡Tu momento perfecto te espera!
  </p>

  <!-- Comienza la programación de citas de Google Calendar -->
  <div class="flex justify-center w-full h-600">
    <iframe
      class="w-11/12 md:w-9/12 h-[600px]"
      src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3PRKTh2Q0heaychdfKbSL8wF-eAg4BjwW3QCSghgrRN2W_V69yOty3OvPCzXhx2o770_PfiKc5?gv=true"
      style="border: 0"
      frameborder="0"
    >
    </iframe>
  </div>
  <!-- Fin de la programación de citas de Google Calendar -->
</div>
