<footer class="text-white">
  <ul class="social-icon">
    <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li>
      <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
      <li>
        <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
        <li><a href=""><ion-icon name="logo-whatsapp"></ion-icon></a></li>
      </li>
    </li>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </ul>
  <ul class="menu">
    <li>
      <a href=""></a>Inicio
    </li>
    <li><a href=""></a>Servicios</li>
    <li><a href=""></a>Reservar</li>
    <li><a href=""></a>Contacto</li>
  </ul>
  <p>© 2024 Jerson Pereira | All Rights Reserved</p>
</footer>
<style>
  footer {
    position: relative;
    width: 100%;
    background-color: rgb(17 24 39);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social-icon,
  footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  footer .social-icon li,
  footer .menu li {
    list-style: none;
  }

  footer .social-icon li a {
    font-size: 2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  footer .social-icon li a:hover {
    transform: translate(-10px);
  }

  footer .menu li a {
    font-size: 1.2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.75;
  }
  footer .menu li a:hover {
    opacity: 1;
  }
  footer .menu p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }
</style>
