<header class="fixed w-full bg-white opacity-90">
  <div class="top-0 items-center w-full">
    <nav class="w-full shadow p-2.5 md:flex md:items-center md:justify-between">
      <div class="flex justify-between items-center">
        <span class="text-2xl cursor-pointer font-[Poppins]">
          <img
            class="size-24 md:size-16 inline"
            src="https://img.freepik.com/vector-premium/plantilla-logotipo-barberia-vintage_441059-26.jpg?size=338&ext=jpg&ga=GA1.1.1546980028.1715212800&semt=ais"
          />
          <span
            class="text-xl font-semibold md:opacity-100 font-['Onest_Variable']"
            >BarberShop</span
          >
        </span>
        <div class="text-3xl cursor-pointer mx-2 md:hidden block">
          <ion-icon name="menu" onClick="Menu(this)"></ion-icon>
        </div>
      </div>

      <ul
        class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500"
      >
        <a
          class="text-black font-semibold mx-4 my-6 md:my-0 hover:text-sky-500 duration-500"
          href="#top">Inicio</a
        >
        <a
          class="text-black font-semibold mx-4 my-6 hover:text-sky-500 duration-500"
          href="#services">Servicios</a
        >
        <a
          class="text-black font-semibold mx-4 my-6 hover:text-sky-500 duration-500"
          href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
          >¡Agenda tu cita!</a
        >

        <a
          class="text-black font-semibold mx-4 my-6 hover:text-sky-500 duration-500"
          href="pruebas
          ">¿Quienes Somos?</a
        >
      </ul>
    </nav>
  </div>
</header>
