<section class="flex flex-col text-white items-center justify-center bg-fixed">
  <h1 class="text-4xl text-center text-grey-100 md:text-6xl md:text-center">
    Tu Corte Perfecto Comienza Aquí
  </h1>
  <h3 class="text-grey-900 text-base pb-3.5 md:text-2xl">
    Descubre nuestra barberia!
  </h3>
  <a
    href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
    class="cursor-pointer bg-white text-black font-semibold opacity-80 px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-lg"
    >¡Agenda tu cita!</a
  >
</section>

<style>
  section {
    width: 100%;
    height: 600px;
    background: url(/images/ImageMain.jpg) no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.1);
    background-attachment: fixed;
  }
</style>
