---

---

<section class="flex flex-col items-center justify-center bg-fixed">
  <h1 class="text-6xl font-mono text-grey-100">
    Tu Corte Perfecto Comienza Aquí
  </h1>
  <p class="text-grey-900 text-2xl pb-3.5">Descubre nuestra barberia!</p>
  <a
    href="#"
    class="cursor-pointer px-5 py-2.5 border hover:opacity-60 duration-500 text-lg"
    >¡Reservar cita!</a
  >
</section>

<style>
  section {
    width: 100%;
    height: 600px;
    background: url("https://images.pexels.com/photos/7518731/pexels-photo-7518731.jpeg")
      no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 50px;
    background-attachment: fixed;
  }
</style>
