<section class="flex flex-col text-white items-center justify-center bg-fixed">
  <h1
    class="text-4xl text-center font-mono text-grey-100 md:text-6xl md:text-center"
  >
    Tu Corte Perfecto Comienza Aquí
  </h1>
  <h3 class="text-grey-900 text-base pb-3.5 md:text-2xl">
    Descubre nuestra barberia!
  </h3>
  <a
    href="#"
    class="cursor-pointer px-5 rounded-md py-2.5 border hover:opacity-60 duration-500 text-lg"
    >¡Reservar cita!</a
  >
</section>

<style>
  section {
    width: 100%;
    height: 600px;
    background: url("https://images.pexels.com/photos/7518731/pexels-photo-7518731.jpeg")
      no-repeat center center/cover;
    background-color: rgba(255, 255, 255, 0.1);
    background-attachment: fixed;
  }
</style>
