---
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<a
  href="https://www.instagram.com/?hl=es"
  class="flex cursor-pointer w-[150px] h-[50px] shadow-2xl px-1 bg-gradient-to-r from-[#f0773e] via-[#d53b79] to-[#7c4eba] text-white justify-center items-center rounded-full py-2.5 hover:opacity-60 duration-500"
>
  <InstagramIcon />
  Instagram
</a>
