<div>
  <iframe
    class="size-[300px] md:w-[448px] h-[422px] m-5"
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d995.5254057948015!2d-76.49759580661426!3d3.5640748879782316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1715957559468!5m2!1ses!2sco"
    width="448"
    height="422"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
