<div class="flex flex-col justify-center items-center py-16 md:w-[500px] m-5">
  <h2
    class="font-semibold text-center font-['Onest_Variable'] text-2xl md:text-3xl"
  >
    ¿Deseas agendar tu cita via WhatsApp?
  </h2>

  <p class="m-5 text-center md:text-xl text-pretty md:w-[400px]">
    Si deseas reservar con nosotros, te lo ponemos fácil. Solo tienes que
    comunicarte con nosotros a través de nuestro WhatsApp.
  </p>
  <a
    href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
    class="cursor-pointer bg-white text-black font-semibold opacity-90 px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-lg"
    >¡Escribenos Ya!</a
  >
</div>
