<div class="flex flex-col items-center py-10">
  <h3 class="font-bold text-2xl md:text-2xl">Horario de apertura</h3>
  <div class="flex flex-row">
    <ul class="m-5 font-medium text-base">
      <li>Lunes</li>
      <li>Martes</li>
      <li>Miercoles</li>
      <li>Jueves</li>
      <li>Viernes</li>
      <li>Sabado</li>
      <li>Domingo</li>
    </ul>
    <ul class="m-5 text-base">
      <li>09:00a. m. - 7:00p. m.</li>
      <li>09:00a. m. - 7:00p. m.</li>
      <li>09:00a. m. - 7:00p. m.</li>
      <li>09:00a. m. - 7:00p. m.</li>
      <li>09:00a. m. - 7:00p. m.</li>
      <li>09:00a. m. - 7:00p. m.</li>
      <li>Cerrado</li>
    </ul>
  </div>
</div>
