<section class="">
  <div class="flex flex-col w-auto items-center justify-center">
    <h2
      class="m-5 text-3xl text-center font-['Onest_Variable'] font-semibold md:text-4xl"
    >
      Conoce nuestros servicios
    </h2>
    <p class="m-5 text-xl text-center text-pretty md:w-[850px]">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
      voluptatum libero corporis qui non dolor doloremque numquam pariatur
      laboriosam optio? Porro architecto quae at. Enim eius quia minus aliquam
      minima.
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-center md:flex md:flex-row md:m-10"
  >
    <article class="m-5 hover:scale-110 shadow-2xl duration-500">
      <div
        class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-white shadow-xl rounded-xl"
      >
        <figure class="">
          <img
            class="rounded-t-lg"
            src="/images/CorteBasico.webp"
            alt="Shoes"
          />
        </figure>
        <div class="card-body m-5">
          <h2 class="card-title font-semibold">Corte Basico</h2>
          <p class="text-grey opacity-70">40 min</p>
          <p>desde $18.000</p>
        </div>
        <a
          href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
          class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-xs"
          >¡Reservar cita!</a
        >
      </div>
    </article>
    <article class="m-5 hover:scale-110 shadow-2xl duration-500">
      <div
        class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-white shadow-xl rounded-xl"
      >
        <figure class="">
          <img class="rounded-t-lg" src="/images/Barba.jpeg" alt="Shoes" />
        </figure>
        <div class="card-body m-5">
          <h2 class="card-title font-semibold">Corte & Barba</h2>
          <p class="text-grey opacity-70">1 h</p>
          <p>desde $25.000</p>
        </div>
        <a
          href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
          class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-200 text-xs"
          >¡Reservar cita!</a
        >
      </div>
    </article>
    <article class="m-5 hover:scale-110 shadow-2xl duration-500">
      <div
        class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-white shadow-xl rounded-xl"
      >
        <figure class="">
          <img class="rounded-t-lg" src="/images/Facial.jpeg" alt="Shoes" />
        </figure>
        <div class="card-body m-5">
          <h2 class="card-title font-semibold">Corte & Limpieza Facial</h2>
          <p class="text-grey opacity-70">1 h y 20 min</p>
          <p>desde $48.000</p>
        </div>
        <a
          href="https://api.whatsapp.com/send?phone=573236128822&text=Hola,%20me%20gustar%C3%ADa%20saber%20m%C3%A1s%20acerca%20de%20CAPIT%C3%81N%20BARBAS"
          class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-xs"
          >¡Reservar cita!</a
        >
      </div>
    </article>
  </div>
</section>
