---
import "../styles/fonts.css";
---

<div class="flex m-5 justify-center">
  <h2 class="m-5 text-4xl font-['Onest_Variable'] font-medium">Servicios</h2>
</div>
<section
  class="flex flex-col items-center justify-center md:flex md:flex-row md:m-10"
>
  <article class="m-5">
    <div
      class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-base-100 shadow-xl rounded-xl"
    >
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/13138585/pexels-photo-13138585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1https://images.pexels.com/photos/13138585/pexels-photo-13138585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body m-5">
        <h2 class="card-title font-semibold">Corte Basico</h2>
        <p class="text-grey opacity-70">40 min</p>
        <p>desde $18.000</p>
      </div>
      <a
        href="#"
        class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-xs"
        >¡Reservar cita!</a
      >
    </div>
  </article>
  <article class="m-5">
    <div
      class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-base-100 shadow-xl rounded-xl"
    >
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/3998421/pexels-photo-3998421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body m-5">
        <h2 class="card-title font-semibold">Corte & Barba</h2>
        <p class="text-grey opacity-70">1 h</p>
        <p>desde $25.000</p>
      </div>
      <a
        href="#"
        class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-xs"
        >¡Reservar cita!</a
      >
    </div>
  </article>
  <article class="m-5">
    <div
      class="card w-[320px] h-[370px] md:h-[355px] md:w-[300px] bg-grey-900 shadow-2xl rounded-xl"
    >
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/17553840/pexels-photo-17553840/free-photo-of-hombre-trabajando-toalla-peluquero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1https://images.pexels.com/photos/17553840/pexels-photo-17553840/free-photo-of-hombre-trabajando-toalla-peluquero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body m-5">
        <h2 class="card-title font-semibold">Corte & Limpieza Facial</h2>
        <p class="text-grey opacity-70">1 h y 20 min</p>
        <p>desde $48.000</p>
      </div>
      <a
        href="#"
        class="m-5 cursor-pointer shadow-xl text-white bg-black px-5 rounded-md py-2.5 hover:opacity-60 duration-500 text-xs"
        >¡Reservar cita!</a
      >
    </div>
  </article>
</section>
