---
import "../styles/fonts.css";
---

<div class="">
  <div class="flex justify-center">
    <h1 class="font-thin text-4xl md:text-5xl mb-2 text-center w-72 h-32 p-10">
      SERVICIOS
    </h1>
  </div>
</div>
<section
  class="flex flex-col m-10 items-center justify-center md:flex md:flex-row md:m-10"
>
  <article class="m-5">
    <div class="card w-[320px] md:w-[300px] bg-base-100 shadow-xl rounded-xl">
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/13138585/pexels-photo-13138585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1https://images.pexels.com/photos/13138585/pexels-photo-13138585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </article>
  <article class="m-5">
    <div class="card w-[320px] md:w-[300px] bg-base-100 shadow-xl rounded-xl">
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/3998421/pexels-photo-3998421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </article>
  <article class="m-5">
    <div class="card w-[320px] md:w-[300px] bg-base-100 shadow-xl rounded-xl">
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/17553840/pexels-photo-17553840/free-photo-of-hombre-trabajando-toalla-peluquero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1https://images.pexels.com/photos/17553840/pexels-photo-17553840/free-photo-of-hombre-trabajando-toalla-peluquero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </article>
  <article class="m-5">
    <div class="card w-[320px] md:w-[300px] bg-base-100 shadow-xl rounded-xl">
      <figure class="">
        <img
          class="rounded-t-lg"
          src="https://images.pexels.com/photos/7697712/pexels-photo-7697712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </article>
</section>
