---
import "../styles/fonts.css";
---

<div class="flex justify-center">
  <h1 class="font-thin text-5xl mb-2 text-center w-72 h-32 p-10 pb-36">
    SERVICIOS
  </h1>
</div>

<section>
  <article>
    <a href="">
      <img
        class=""
        src="https://images.pexels.com/photos/13138585/pexels-photo-13138585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="cabello"
      />
      <div class="text-center">
        <h6 class="text-xs font-base">SERVICIO</h6>
        <h4 class="text-lg font-mono">CABELLO</h4>
      </div>
    </a>
  </article>
  <article>
    <a href="">
      <img
        src="https://images.pexels.com/photos/3998421/pexels-photo-3998421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="barba"
      />
      <div class="text-center">
        <h6 class="text-xs font-base">SERVICIO</h6>
        <h4 class="text-lg font-mono">BARBA</h4>
      </div>
    </a>
  </article>
  <article>
    <a href="">
      <img
        src="https://images.pexels.com/photos/17553840/pexels-photo-17553840/free-photo-of-hombre-trabajando-toalla-peluquero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Facial"
      />
      <div class="text-center">
        <h6 class="text-xs font-base">SERVICIO</h6>
        <h4 class="text-lg font-mono">FACIAL</h4>
      </div>
    </a>
  </article>
  <article>
    <a class="" href="">
      <img
        src="https://images.pexels.com/photos/7697712/pexels-photo-7697712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Productos"
      />
      <div class="text-center">
        <h6 class="text-xs font-base">SERVICIO</h6>
        <h4 class="text-lg font-mono">PRODUCTOS</h4>
      </div>
    </a>
  </article>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  article {
    height: 200px;
    border-radius: 2px;
  }

  img {
    width: 338px;
    height: 220px;
  }
</style>
