<div class="justify-center pb-10 md:pb-16">
  <div class="flex flex-row justify-center items-center">
    <h2 class="m-5 text-2xl font-['Onest_Variable'] font-semibold md:text-3xl">
      Conoce nuestros barberos
    </h2>
  </div>
  <div class="flex flex-wrap md:justify-evenly md:flex-row pt-90">
    <div class="size-24 rounded-full m-5">
      <a href="/andres">
        <img
          class="rounded-full hover:scale-110 duration-150"
          src="/images/barbers/1.jpeg"
          alt="Andres Nuñez"
        />
      </a>
      <div class="text-center">
        <p class="font-medium mt-1">Andres</p>
        <p class="text-grey opacity-80">Nuñez</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full hover:scale-110 duration-150"
        src="/images/barbers/2.png"
        alt="Santiago Giraldo"
      />
      <div class="text-center">
        <p class="font-medium mt-1">Santiago</p>
        <p class="text-grey opacity-80">Giraldo</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full hover:scale-110 duration-150"
        src="/images/barbers/3.jpg"
        alt="Stiven Castillo"
      />
      <div class="text-center">
        <p class="font-medium mt-1">Stiven</p>
        <p class="text-grey opacity-80">Castillo</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full hover:scale-110 duration-150"
        src="/images/barbers/4.jpeg"
        alt="Jorge Prado"
      />
      <div class="text-center">
        <p class="font-medium mt-1">Jorge</p>
        <p class="text-grey opacity-80">Prado</p>
      </div>
    </div>
  </div>
</div>
