<div class="justify-center pb-16">
  <h2 class="m-5 text-4xl font-['Onest_Variable'] font-medium">Equipo</h2>
  <div class="flex flex-wrap md:flex-row pt-90">
    <div class="size-24 rounded-full m-5">
      <img
        class="rounded-full"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="Sin foto"
      />
      <div class="text-center">
        <p class="font-medium">Nombre</p>
        <p class="text-grey opacity-80">Apellido</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="Sin foto"
      />
      <div class="text-center">
        <p class="font-medium">Nombre</p>
        <p class="text-grey opacity-80">Apellido</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="Sin foto"
      />
      <div class="text-center">
        <p class="font-medium">Nombre</p>
        <p class="text-grey opacity-80">Apellido</p>
      </div>
    </div>
    <div class="size-24 m-5">
      <img
        class="rounded-full"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="Sin foto"
      />
      <div class="text-center">
        <p class="font-medium">Nombre</p>
        <p class="text-grey opacity-80">Apellido</p>
      </div>
    </div>
  </div>
</div>
