---
import WhatsappIcon2 from "./icons/WhatsappIcon2.astro";
---

<div
  class="flex fixed justify-center items-center bg-green-500 rounded-full bottom-6 right-6"
>
  <a href="https://web.whatsapp.com/">
    <WhatsappIcon2 />
  </a>
</div>
