---
import Header from "../components/Header.astro";
import ImageMain from "../components/ImageMain.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";
import "@fontsource/krona-one";
import "@fontsource-variable/source-code-pro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/barber-shop/public/" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>
  <body class="max-w-full">
    <Header />

    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Onest Variable", "Krona One", "Source Code Pro Variable",
      system-ui, sans-serif;
    background: rgb(240, 244, 249);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    background-color: rgb(238, 235, 235);
  }
</style>
